$brand-color-primary: #FDE332;
$brand-color-secondary: #71B82B;
$brand-color-tertiary: #151515;

$text-color: #151515;
$text-color-reverse: #FFFFFF;

$background-color-primary: #F5F7F8;
$background-color-secondary: #FFFFFF;

$font-jp-primary: 'Noto Sans JP', sans-serif;
$font-jp-secondary: 'Zen Maru Gothic', sans-serif;

$h-jp-font: 'Noto Sans JP', sans-serif;
$h-en-font: 'Montserrat', sans-serif;;

$padding-xl-desktop: 200px;
$padding-lg-desktop: 130px;
$padding-md-desktop: 100px;
$padding-sm-desktop: 50px;
$padding-xs-desktop: 20px;

$padding-xl-mobile: 100px;
$padding-lg-mobile: 80px;
$padding-md-mobile: 50px;
$padding-sm-mobile: 30px;
$padding-xs-mobile: 20px;

$content-max-width: 1400px;



