$primaryBrandColor: #FDE332;
$secondaryBrandColor: #71B82B;
$tertiaryBrandColor: #151515;

$textColor: #151515;

$primaryBackgroundColor: #F5F7F8;
$secondaryBackgroundColor: #FFFFFF;

$primaryFontJP: 'Noto Sans JP', sans-serif;
$secondaryFontJP: 'Zen Maru Gothic', sans-serif;