@import './constants';
@import './mixin';
@import './headings';
@import './components';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{ 
 height: 100%;
 overflow-x: hidden;
}

body {
    background-color: $background-color-primary;
    font-family: $font-jp-primary;
    font-weight: 400;
    font-size: 16px;
    color: $text-color;
    @include sp{
        font-size: 15px;
    }
}

a {
    text-decoration: none;
}

button, .button-link {
    cursor: pointer;
}

.content-max-width {
    width: 80%;
    margin: 0 auto;
    max-width: $content-max-width;
    @include sp-xs {
        width: 90%;
    }
}

.flexbox {
    @include flex;
}

.responsive-flexbox {
    @include responsive-flex;
    & > * {
        @include sp {
            width: 100% !important;
            text-align: center;
        }
    }
}

.three-column-flexbox{
    align-items: stretch;
    & > * {
        width: 32%;
    }
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
    .h-line {
        margin-left: 0;
    }
}

.background-color-sub {
    background-color: $background-color-secondary;
}


header {
    background-color: $brand-color-primary;
    padding: 26px 0 8px;
    ul {
        list-style-type: none;
    }
    img {
        width: 170px;
        @include pc-s {
            width: 140px;
        }
        @include sp {
            width: 100px;
        }
    }
    .button-secondary {
        font-size: 14px;
    }
}

.header-nav {
    a:not(.button-link) {
        color: $text-color;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $brand-color-tertiary;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}
.desktop-menu {
    width: 740px;
    li {
        display: contents;
    }
    a {
        font-size: 14px;

    }
    @include pc-s {
        width: 630px;
        a {
            font-size: 13px;
        }
        .button-link {
            font-size: 13px;
            padding: 10px 20px;
        }
    }
    @include tab {
        display: none;
    }
}

.mobile-menu {
    display: none;
    img {
        width: 30px;
    }
    @include tab {
        display: block;
    }
}

.hero-space {
    background-color: $brand-color-primary;
    padding: 58px 0;
    @include sp {
        .responsive-flexbox {
            flex-direction: column-reverse;
        }
    }
}

.hero-textbox {
    width: 46%;
}

.hero-title {
    font-family: $font-jp-secondary;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 25px;
    @include pc-xl {
        font-size: 60px;
    }
    @include sp {
        font-size: 6vw;
    }
    @include sp-xs {
        font-size: 8vw;
    }
}

.hero-paragraph {
    font-size: 13px;
    line-height: 2rem;
    @include sp {
        line-height: 1.5rem;
    }
}

.hero-imagebox {
    width: 48%;
    margin-bottom: 25px;
    img {
        width: 100%;
    }
}

.top-feature {
    padding: $padding-md-desktop 0;
    .three-column-flexbox{
        padding-bottom: $padding-sm-desktop - $padding-xs-desktop;
    }
}

.service-contentbox {
    width: 60%;
}

.service-imagebox {
    width: 30%;
    position: relative;
    @include pc-s {
        width: 35%;
    }
}

.top-services {
    position: relative;
    padding: $padding-md-desktop 0;
    p {
        padding-bottom: $padding-sm-desktop;
    }
    .content-max-width {
        position: relative;
    }
    .three-column-flexbox {
        padding-bottom: $padding-sm-desktop - $padding-xs-desktop;
    }
    .service-contentbox,.service-imagebox {
        z-index: 1;
    }
    img {
        width: 100%;
        @include sp {
            width: 80%;
            margin-bottom: 60px;
        }
    }
    @include sp {
        .responsive-flexbox {
            flex-direction: column-reverse;
        }
    }
}

.reverse-layout {
    .responsive-flexbox {
        flex-direction: row-reverse;
        @include sp {
            flex-direction: column-reverse;
        }
    }
}

.background-right-ractangle::before {
    content: '';
    background-color: $brand-color-primary;
    position: absolute;
    height: 300px;
    top: calc(50% - 150px);
    right: -200px;
    left: 20%;
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;
    @include sp {
        height: 100%;
        top: -30px;
    }
}

.background-left-ractangle::before {
    content: '';
    background-color: $brand-color-primary;
    position: absolute;
    height: 300px;
    top: calc(50% - 150px);
    left: -200px;
    right: 20%;
    clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
    z-index: -1;
    @include sp {
        height: 100%;
        top: -30px;
    }
}

.youtube {
    background-color: gray;
    height: 150px;
}

.footer-contact {
    background-color: $brand-color-primary;
    .h1-en {
        color: $text-color-reverse;
    }
}

.contact-text-box {
    padding: $padding-md-desktop 0;
    width: 49%;
    p {
        width: 75%;
    }
    background-image: url(images/illustration_contact.svg);
    background-repeat: no-repeat;
    background-position: 100% -200%;

}

.contact-info-box {
    padding: $padding-md-desktop 0;
    width: 49%;
}

.phone-text {
    font-size: 36px;
    font-weight: 500;
}