.h1-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
@media screen and (max-width: 991.98px) {
  .h1-jp {
    font-size: 20px;
  }
}

.h1-en {
  font-family: "Montserrat", sans-serif;
  font-size: 80px;
  font-weight: 500;
}
@media screen and (max-width: 991.98px) {
  .h1-en {
    font-size: 50px;
  }
}

.h2-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 50px;
  font-weight: 500;
}
@media screen and (max-width: 991.98px) {
  .h2-jp {
    font-size: 35px;
  }
}

.h3-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
@media screen and (max-width: 991.98px) {
  .h3-jp {
    font-size: 20px;
  }
}

.h3-en {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5px;
}
@media screen and (max-width: 991.98px) {
  .h3-en {
    font-size: 30px;
  }
}

.h4-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (max-width: 991.98px) {
  .h4-jp {
    font-size: 17px;
  }
}

.h5-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 991.98px) {
  .h5-jp {
    font-size: 15px;
  }
}

.h-line {
  border: 5px solid #FDE332;
  width: 80px;
  margin: auto;
  margin-bottom: 50px;
}

.text-strong {
  font-size: 40px;
}
@media screen and (max-width: 991.98px) {
  .text-strong {
    font-size: 20px;
  }
}

.button-primary {
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
  line-height: 1;
  border: none;
  color: #151515;
  padding: 13px 95px;
  background: #FDE332;
  font-weight: 700;
  background-image: url(images/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: right 24px center;
}
@media screen and (max-width: 769px) {
  .button-primary {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.button-primary:hover {
  background-color: #151515;
  background-image: url(images/arrow-right-white.svg);
  color: #FFFFFF;
}

.button-secondary {
  border-radius: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
  line-height: 1;
  border: none;
  color: white;
  padding: 13px 36px;
  background: #71B82B;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 769px) {
  .button-secondary {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.button-secondary:hover {
  background: #151515;
}
.button-secondary img {
  margin-right: 10px;
  padding-top: 2px;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
}
@media screen and (max-width: 991.98px) {
  .card {
    padding: 30px;
  }
}
.card img {
  width: 60%;
  margin-bottom: 30px;
}
@media screen and (min-width: 1500px) {
  .card img {
    width: 50%;
  }
}
@media screen and (max-width: 769px) {
  .card img {
    width: 30%;
  }
}

.card-outline {
  border: 1px solid #151515;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
.card-outline p {
  padding: 30px 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #F5F7F8;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #151515;
}
@media screen and (max-width: 769px) {
  body {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
}

button, .button-link {
  cursor: pointer;
}

.content-max-width {
  width: 80%;
  margin: 0 auto;
  max-width: 1400px;
}
@media screen and (max-width: 300px) {
  .content-max-width {
    width: 90%;
  }
}

.flexbox {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}

.responsive-flexbox {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  justify-content: space-between;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
@media screen and (max-width: 769px) {
  .responsive-flexbox {
    flex-direction: column;
  }
}
@media screen and (max-width: 769px) {
  .responsive-flexbox > * {
    width: 100% !important;
    text-align: center;
  }
}

.three-column-flexbox {
  align-items: stretch;
}
.three-column-flexbox > * {
  width: 32%;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}
.align-left .h-line {
  margin-left: 0;
}

.background-color-sub {
  background-color: #FFFFFF;
}

header {
  background-color: #FDE332;
  padding: 26px 0 8px;
}
header ul {
  list-style-type: none;
}
header img {
  width: 170px;
}
@media screen and (max-width: 1200px) {
  header img {
    width: 140px;
  }
}
@media screen and (max-width: 769px) {
  header img {
    width: 100px;
  }
}
header .button-secondary {
  font-size: 14px;
}

.header-nav a:not(.button-link) {
  color: #151515;
  position: relative;
}
.header-nav a:not(.button-link)::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0;
  background-color: #151515;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.header-nav a:not(.button-link):hover::before {
  transform: scaleX(1);
}

.desktop-menu {
  width: 740px;
}
.desktop-menu li {
  display: contents;
}
.desktop-menu a {
  font-size: 14px;
}
@media screen and (max-width: 1200px) {
  .desktop-menu {
    width: 630px;
  }
  .desktop-menu a {
    font-size: 13px;
  }
  .desktop-menu .button-link {
    font-size: 13px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 991.98px) {
  .desktop-menu {
    display: none;
  }
}

.mobile-menu {
  display: none;
}
.mobile-menu img {
  width: 30px;
}
@media screen and (max-width: 991.98px) {
  .mobile-menu {
    display: block;
  }
}

.hero-space {
  background-color: #FDE332;
  padding: 58px 0;
}
@media screen and (max-width: 769px) {
  .hero-space .responsive-flexbox {
    flex-direction: column-reverse;
  }
}

.hero-textbox {
  width: 46%;
}

.hero-title {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 4vw;
  font-weight: 500;
  margin-bottom: 25px;
}
@media screen and (min-width: 1500px) {
  .hero-title {
    font-size: 60px;
  }
}
@media screen and (max-width: 769px) {
  .hero-title {
    font-size: 6vw;
  }
}
@media screen and (max-width: 300px) {
  .hero-title {
    font-size: 8vw;
  }
}

.hero-paragraph {
  font-size: 13px;
  line-height: 2rem;
}
@media screen and (max-width: 769px) {
  .hero-paragraph {
    line-height: 1.5rem;
  }
}

.hero-imagebox {
  width: 48%;
  margin-bottom: 25px;
}
.hero-imagebox img {
  width: 100%;
}

.top-feature {
  padding: 100px 0;
}
.top-feature .three-column-flexbox {
  padding-bottom: 30px;
}

.service-contentbox {
  width: 60%;
}

.service-imagebox {
  width: 30%;
  position: relative;
}
@media screen and (max-width: 1200px) {
  .service-imagebox {
    width: 35%;
  }
}

.top-services {
  position: relative;
  padding: 100px 0;
}
.top-services p {
  padding-bottom: 50px;
}
.top-services .content-max-width {
  position: relative;
}
.top-services .three-column-flexbox {
  padding-bottom: 30px;
}
.top-services .service-contentbox, .top-services .service-imagebox {
  z-index: 1;
}
.top-services img {
  width: 100%;
}
@media screen and (max-width: 769px) {
  .top-services img {
    width: 80%;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 769px) {
  .top-services .responsive-flexbox {
    flex-direction: column-reverse;
  }
}

.reverse-layout .responsive-flexbox {
  flex-direction: row-reverse;
}
@media screen and (max-width: 769px) {
  .reverse-layout .responsive-flexbox {
    flex-direction: column-reverse;
  }
}

.background-right-ractangle::before {
  content: "";
  background-color: #FDE332;
  position: absolute;
  height: 300px;
  top: calc(50% - 150px);
  right: -200px;
  left: 20%;
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  z-index: -1;
}
@media screen and (max-width: 769px) {
  .background-right-ractangle::before {
    height: 100%;
    top: -30px;
  }
}

.background-left-ractangle::before {
  content: "";
  background-color: #FDE332;
  position: absolute;
  height: 300px;
  top: calc(50% - 150px);
  left: -200px;
  right: 20%;
  clip-path: polygon(0 0, 85% 0, 100% 100%, 0% 100%);
  z-index: -1;
}
@media screen and (max-width: 769px) {
  .background-left-ractangle::before {
    height: 100%;
    top: -30px;
  }
}

.youtube {
  background-color: gray;
  height: 150px;
}

.footer-contact {
  background-color: #FDE332;
}
.footer-contact .h1-en {
  color: #FFFFFF;
}

.contact-text-box {
  padding: 100px 0;
  width: 49%;
  background-image: url(images/illustration_contact.svg);
  background-repeat: no-repeat;
  background-position: 100% -200%;
}
.contact-text-box p {
  width: 75%;
}

.contact-info-box {
  padding: 100px 0;
  width: 49%;
}

.phone-text {
  font-size: 36px;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
