@import './constants';
@import './mixin';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $primaryBackgroundColor;
    font-family: $primaryFontJP;
    font-weight: 400;
    font-size: 16px;
    color: $textColor;
}

a {
    text-decoration: none;
}


button, .button-link {
    cursor: pointer;
}

.contentMaxWidth {
    width: 80%;
    margin: 0 auto;
    max-width: 1400px;
    @include sp-xs {
        width: 90%;
    }
}

.secondaryButton {
    @include commonButton;
    border: none;
    color: white;
    padding: 13px 36px;
    background: $secondaryBrandColor;
    font-weight: 500;
}

.flexbox {
    @include flex;
}

.responsiveFlexbox {
    @include responsiveFlex;
    & > * {
        @include sp {
            width: 100% !important;
            text-align: center;
        }
    }
}

header {
    background-color: $primaryBrandColor;
    padding: 26px 0 8px;
    ul {
        list-style-type: none;
    }
    img {
        width: 170px;
        @include pc-s {
            width: 140px;
        }
        @include sp {
            width: 100px;
        }
    }
    .secondaryButton {
        font-size: 14px;
    }
}

.headerNav {
    a:not(.button-link) {
        color: $textColor;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            bottom: -10px;
            left: 0;
            background-color: $tertiaryBrandColor;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
    .button-link{
        &:hover{
            background: $tertiaryBrandColor;
        }
    }
}
.desktopMenu {
    width: 740px;
    li {
        display: contents;
    }
    a {
        font-size: 14px;

    }
    @include pc-s {
        width: 630px;
        a {
            font-size: 13px;
        }
        .button-link {
            font-size: 13px;
            padding: 10px 20px;
        }
    }
    @include tab {
        display: none;
    }
}

.mobileMenu {
    display: none;
    img {
        width: 30px;
    }
    @include tab {
        display: block;
    }
}

.heroSpace {
    background-color: $primaryBrandColor;
    padding: 58px 0;
    @include sp {
        .responsiveFlexbox {
            flex-direction: column-reverse;
        }
    }
}

.heroTextBox {
    width: 46%;
}

.heroTitle {
    font-family: $secondaryFontJP;
    font-size: 4vw;
    font-weight: 500;
    margin-bottom: 25px;
    @include pc-xl {
        font-size: 60px;
    }
    @include sp {
        font-size: 6vw;
    }
    @include sp-xs {
        font-size: 8vw;
    }
}

.heroParagraph {
    font-size: 13px;
    line-height: 2rem;
    @include sp {
        line-height: 1.5rem;
    }
}

.heroImageBox {
    width: 48%;
    margin-bottom: 25px;
    img {
        width: 100%;
    }
}



