.button-primary {
    @include button-common;
    border: none;
    color: $text-color;
    padding: 13px 95px;
    background: $brand-color-primary;
    font-weight: 700;
    background-image: url(../images/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    &:hover {
        background-color: $brand-color-tertiary;
        background-image: url(../images/arrow-right-white.svg);
        color: $text-color-reverse;
    }
}

.button-primary-small {
    @include button-common;
    border: none;
    color: $text-color;
    padding: 13px;
    background: $brand-color-primary;
    font-weight: 700;
    background-image: url(../images/arrow-right-black.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    &:hover {
        background-color: $brand-color-tertiary;
        background-image: url(../images/arrow-right-white.svg);
        color: $text-color-reverse;
    }
}

.button-primary-secondarycolor {
    @include button-common;
    border: none;
    color: $text-color-reverse;
    padding: 13px 95px;
    background: $brand-color-secondary;
    font-weight: 700;
    background-image: url(../images/arrow-right-white.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    &:hover {
        background-color: $brand-color-tertiary;
        color: $text-color-reverse;
    }
}

.button-secondary {
    @include button-common;
    border: none;
    color: $text-color-reverse;
    padding: 13px 20px;
    background: $brand-color-secondary;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: $brand-color-tertiary;
    }

    img {
        margin-right: 10px;
        padding-top: 2px;
    }
}

.button-secondary-thirdlycolor {
    @include button-common;
    border: none;
    color: $text-color-reverse;
    padding: 13px 20px;
    background: $brand-color-tertiary;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: #3B3B3B;
    }

    img {
        margin-right: 10px;
        padding-top: 2px;
    }
}

.button-outline {
    @include button-common;
    border: none;
    color: $brand-color-tertiary;
    outline: 1px solid $brand-color-tertiary;
    padding: 13px 36px;
    background: $background-color-secondary;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--padding-xs) 0 0;

    &:hover {
        background: $brand-color-tertiary;
        color: $background-color-secondary;
    }
}

.button-card {
    @include button-common;
    border-radius: 10px;
    background-color: $background-color-secondary;
    text-align: left;
    color: $text-color;
    padding: 50px 0 50px 24px;
    background-image: url(../images/arrow-down-black.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    &:hover {
        background-color: $brand-color-tertiary;
        background-image: url(../images/arrow-down-white.svg);
        color: $text-color-reverse;
    }
    @include tab {
        text-align: left !important;
        padding-left: 24px;
    }
}


.card {
    background-color: $background-color-secondary;
    box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 50px;
    img {
        width: 100%;
        margin-bottom: var(--padding-xs);
    }
    @include tab {
        padding: 30px;
    }
}

.card-icon {
    img {
        width: 60%;
        @include pc-xl {
            width: 50%;
        }
        @include sp {
            width: 40%;
        }
    }
}

.card-outline {
    border: 1px solid $text-color;
    border-radius: 10px;
    text-align: center;
    align-items: center;

    p {
        padding: 30px 0 !important;
    }
}

.card-price {
    h4{
        color: $brand-color-secondary;
    }
    .price-text {
        margin-bottom: 0;
        color: $text-color;
    }
    hr {
        border: 3px solid $brand-color-secondary;
        margin-bottom: var(--padding-xs);
    }
    ul {
        margin-top: var(--padding-sm);
        line-height: 1.5;
      }
    li{
        list-style: none;
        position: relative;
        padding-left: 18px;
      }
     
      li:before {
        content: "";
        position: absolute;
        top: .3em;
        left: 0;
        -webkit-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        transform: rotate(50deg);
        width: 5px;
        height: 10px;
        border-right: 2px solid $text-color;
        border-bottom: 2px solid $text-color;
      }
    @include sp{
        .card-list-wrapper {
            display: flex;
            justify-content: center;
        }
        ul {
            text-align: left;
        }
    }
}

.youtube {
    margin-bottom: var(--padding-xs);
    iframe {
        width: 100%;
    }
}

.image-box {
    width: 100%;
}

.card-transparent {
    padding-bottom: 20px;

    iframe {
        width: 100%;
        height: 250px;
    }

    img {
        width: 100%;
    }

    @include sp {
        text-align: left;
    }
}

.card-tag {
    background-color: rgb(196, 196, 196);
    padding: 3px 10px;
}