.footer-contact {
    background-color: $brand-color-primary;
    padding: var(--padding-md) 0;
    margin-top: var(--padding-lg);
    h1.en {
        color: $text-color-reverse;
    }
}

.footer-contact-top {
    margin-top: 0 !important;
}

.contact-text-box {
    width: 55%;
    @include pc-s {
        width: 50%;
    }
    @include sp {
        margin-bottom: var(--padding-sm);
        h1.en {
            margin-bottom: var(--padding-xs);
        }
    }
}

.contact-info-box {
    margin-left: 20px;
    h4.jp {
        margin-bottom: 10px;
    }
}

.contact-phone {
    margin-bottom: 30px;
    .flexbox {
        justify-content: center;
    }
}

.phone-text {
    font-size: 50px;
    font-weight: 500;
    padding: 0 10px 5px 10px;
    line-height: 1;
    @include tab {
        font-size: 4.5vw;
    }
    @include sp {
        font-size: 8vw;
    }
}