header.main {
    background-color: $brand-color-primary;
    padding: 26px 0 8px;
    ul {
        list-style-type: none;
    }
    .header-logo {
        width: 13vw;
        padding-top: 10px;
        @include pc-xl{
            width: 200px;
        }
        @include tab{
            padding-top: 0px;
            width: 150px;
        }
        @include sp {
            width: 100px;
        }
    }

    @include tab {
        .gnav-menu {
            display: none;
        }

        &.open {
            background-color: $brand-color-primary;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            z-index: 98;

            .gnav {
                flex-wrap: wrap;
            }

            .gnav-menu {
                display: flex;
            }
        }
    }
}

.gnav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.gnav-menu {
    li {
        display: contents;
    }
    a {
        font-size: min(1.2vw,16px);
        margin-left: min(1.6vw,22px);
        @include tab {
            margin: 25px 0;
            font-size: 16px !important;
        }
    }
    a:not(.button-link) {
        color: $text-color;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 3px;
            bottom: -10px;  
            left: 0;
            background-color: $brand-color-tertiary;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
    .button-link {
        font-size: min(1.1vw,16px);
        @include tab {
            width: 200px !important;
        }
        img {
            width: min(1.5vw,20px);
            @include tab {
                width: 20px;
            }
        }
    }
    @include tab {
        height: 90vh;
        width: 100%;
        flex-direction: column;
        justify-content: center !important;
    }
}

/* hamburger menu*/
.mobile-menu{
    height: 20px;
    position: relative;
    width: 30px;
    z-index: 99;
    display: none;
    @include tab {
        display: block;
    }
}
.menu__line{
    background: $text-color;
    display: block;
    height: 3px;
    position: absolute;
    transition:transform .3s;
    width: 100%;
}
.menu__line--center{
    top: 9px;
}
.menu__line--bottom{
    bottom: 0;
}
.menu__line--top.active{
    top: 8px;
    transform: rotate(45deg);
}
.menu__line--center.active{
    transform:scaleX(0);
}
.menu__line--bottom.active{
    bottom: 10px;
    transform: rotate(135deg);
}